.first_nav{
    background-color: #38ada9;
    padding: 7px 0px;
    color: white;
    margin: -7px;
}
.nav_list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: left;
}
.pic{
    width: 100.9%;
    height: 500px;
    object-fit: cover;
    margin: 7px -9px;
}
.head_1{
    text-align: center;
    color: #3c6382;
}
.teacher-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.teacher-card {
  width: 220px;
  border: 2px solid #444;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  background: #a5b1c2;
}

.teacher-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  
}

.teacher-card h3 {
  margin: 8px 0;
  font-size: 16px;
}

.teacher_button{
    background-color: #ecf0f1;
    border-radius: 20px;
}
.table{
     border-collapse: collapse;
     width: 60%;
     margin: 50px 370px;
}
.table th, table td{
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.table th {
  background: #a5b1c2;
}
.table td {
  background: #dfe4ea;
}